body{
    font-size: 13px;
    background-color:#01b7f3;
}
.container{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.email-signature{
    width: 750px;
    background: url("images/3.jpg");
    border-radius: 5px;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.email-signature .logo img{
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}
hr{
    background-color:#01b7f3;
}
.email-signature .image img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin: 0 auto;
    display: block;
}
.email-signature .right-col{
    background-color: #ffffff70;
    border-radius: 60px 0 0 60px;
    padding: 20px 30px;
    border-left: 10px solid #01b7f3;
}
.email-signature .right-col h2{
    color: #01b7f3;
}
.email-signature .right-col h6{
    color: #464646;
}
.email-signature .right-col a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 14px;
}
.email-signature .right-col .icon-bg{
    background-color: #ffffffaa;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 3px 7px;
    border: 1px solid #01b7f3;
}
.email-signature .right-col .icon-bg i{
    color: #01b7f3;
}
@media (max-width:991px){
    .email-signature{
        width: auto;
    }
    .email-signature .right-col{
        margin-top: 10px;
        border-left: none;
        border-top: 6px solid #01b7f3;
        border-radius: 60px 60px 0px 0px;
    }
}